.heading{
    margin: 0px;
    width: 100%;
}
.Speed_div{
    float: left;
}
.Volume_div{
    float: right;
}
.Img_volume,.Img_speed{
    width: 200px;
    border-radius: 100px;
}
body{
    background-size:cover;
}
.Play_btn{
    width: 90px;
}